.git
.env
.env.*
!.env.example
!.env.docker.example
OLD
node_modules
vendor
storage/app/*
!storage/app/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
public/build
.tmp
